@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;

}

h2 {
    font-weight: 700;
}
p{
    font-size: 19px;
}
button{
    font-weight: 500;
}

@media screen and (max-width:525px) {
    .slide-2-div-2 {
        width: 20%;
    }

    .slide-div-1 h1 {

        background-color: #B5BEFF;
    }
}

.slide-div-1 h1 span {
    color: blue;
}

.slide-div-1 h1 {
    border: 1px solid grey;
    background-color: white;
    width: fit-content;
    padding: 10px;
    font-size: 22px;
}

.slide-div-1 button {
    text-decoration: none;
    padding: 10px;
    background: white;
    border: none;
    border-radius: 10px;

}

.contact-link a {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.slide-1,
.slide-2,
.slide-3 {
    background-image: url(/assets/images/Group\ 1698\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.slide-div-2 {
    border: 2px solid blue;
    position: sticky;
    /* width: fit-content; */
    width: 25%;
    height: 400px;
    border-radius: 50%;
    /* position: relative; */
}



.slide-div-2 img {
    width: 360px;
    background-color: blue;
    border-radius: 50%;
    position: sticky;
}

@media screen and (max-width:950px) {

    .slide-1,
    .slide-2,
    .slide-3 {
        height: 1000px;
    }

    /* .slide-div-3 img{
        width: 100px;
    } */
}

/* slide-2 css  */
.slide-2-div-2 img {
    transform: rotate(360deg);

}

.slide-div-3 img {
    width: 300px;
}

/* slide end  */


.first-div h1 {
    border: 1px solid grey;
    padding: 10px;
    background-color: #FCFCFD;
    width: fit-content;
    /* margin-left: 20px; */
}

.first-div span {
    color: blue;
}

.first-div {
    background-image: url(Group\ 1698.png);
    height: 500px;
    margin-left: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.first-div button {
    text-decoration: none;
    padding: 10px;
    color: black;
    background-color: white;
    border: 1px solid grey;

}

/* second div csss  */
.second-div img {
    border-radius: 50%;
    width: fit-content;
    background-color: blue;
}

.second-div {
    /* border: 2px solid blue; */
    width: fit-content;
    border-radius: 50%;
}

.slide-section {
    position: relative;
}

.second-div img {
    position: absolute;
    border: 2px solid blue;



}

.second-div {
    left: 50px;
}

/*  section css */

.step-section .img-1 {
    margin-right: 20px;
}

.step-section .class-1 h2 {
    transform: rotate(270deg);
    margin-top: 65px;
    background-color: #000;
    color: white;
    padding-top: 12px;
    padding-bottom: 5px;
    font-size: x-large;
    width: 168px;
}


/* Destination-section  */
.Destination-section {
    background: #F1F4FF;
    margin-top: 10rem;

}

.Destination-section .img-div img {
    border-radius: 50%;
    padding: 10px;
}

.Destination-section .Destination-p {
    text-align: center;
}

.Destination-p h2 {
    font-weight: 500;
}

.img-div {
    display: flex;
    justify-content: space-around;
}

.img-div p {
    text-align: center;
}

.img-div .images {
    background-color: white;
    border-radius: 10%;
    border: none;
    margin-bottom: 30px;
}

@media screen and (max-width:1000px) {
    .img-div {
        display: block;
        /* justify-content: space-around; */
    }

    .img-div .images {
        background-color: white;
        border-radius: 0;
    }

    .img-div p {
        text-align: start;
        margin-left: 50px;
    }




    .step-section .class-1 h2 {
        transform: rotate(0deg);
        margin: auto;
        margin-bottom: 20px;
    }
}

/* global-infotech-section css */
@media screen and (max-width:891px) {
    .card-1 {
        flex-direction: column;

    }



    .last-div-card {
        text-align: start;
        padding-top: 20px;
        /* Optional: Adds spacing from the top */
    }

    .box {
        display: inline-block;
        border-radius: 10px;
        text-align: start;
        width: 100%;
        height: 184px;
        margin-left: 5px;
        background-color: #F8F8F8;
        border: 1px solid #ccc;
        padding: 20px;
    }



}

.card-1 {
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}

.card-1 .card {
    background: #F8F8F8;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    /* margin-left: 20px; */
    margin-left: 40px;
}

.card-1 .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.card-section-1 {
    display: flex;

}


/* Container styles */
.last-div-card {
    text-align: center;
    padding-top: 50px;
    /* Optional: Adds spacing from the top */
}

/* Style for the box */
.box {
    display: inline-block;
    border-radius: 10px;
    text-align: start;
    width: 38%;
    height: 184px;
    margin-left: 21px;
    background-color: #F8F8F8;
    border: 1px solid #ccc;
    padding: 20px;
}

.box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.global-div-1 {
    text-align: center;
}

.global-infotech-section {
    margin-top: 10rem;
}



/* course section  */


.course-section {
    background: #F8F8F8;
}

.course-section .course-div-2 button {
    background: #FFFFFF;
    border: 1px solid grey;
    padding: 10px;

}

.course-div-2 button:hover {
    background-color: blue;
    color: white;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.items {
    width: 90%;
    margin: 0px auto;
    margin-top: 100px;
}


/* feedback section  */
.slider-class.your-slider {
    width: 100%;
    height: 400px;
    /* background-color: #F1F4FF; */
}

.slick-slide {
    text-align: center;
    color: #fff;
    /* background: #000; */
    padding: 40px 20px;

}

.feedback-section {
    margin-top: 5rem;
}

.feedback-p h4 {
    border: none;
    background: #FCFCFD;
    padding:20px;
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 10px;
}

.feedback-p h2 {
    text-align: center;
}

.feedback-p img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 2px;
}

/* contact section  */
.contact-section-1 img {
    margin-bottom: 30px;
}

.contact-section {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-img-div .contact-section {
    background-image: url(/assets/images/Group\ 1700.png);
    background-repeat: no-repeat;
}

.form1,
.form2,
.form3 {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.message-button {

    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.message-button:hover {
    background-color: blue;
    color: white;
}

.contact-img-div {
    position: relative;
}

.contact-img-2 {
    position: relative;
    top: -195px;
    left: 245px;
}

/* Ceo section   */
.Ceo-div-1 h3 {
    color: blue;
}

/* question section  */

.questions-div-1 .javascript-div {
    /* background-color: white; */
    padding: 10px;
}

.javascript-div-1 {
    border-bottom: 1px solid grey;

}

.questions-div-1 {
    background-color: white;
}

.javascript-div-1 i {
    background: #ECF0FF;
    padding: 20px;
}



/* boot css  */


.questions-div-1 {
    margin-bottom: 30px;

}

.bootstrap-div-1 {
    background-color: white;
    border: 1px solid grey;
    padding: 20px;
}

#collapseExample {
    background-color: white;
}

.first-btn {
    background-color: white;
}

.first-collapse {
    display: flex;
}

.collapse-div-2 {
    background: #F8F8F8;
    padding: 10px;
}

.javascript-div-2 p {
    background: #F8F8F8;
    padding: 30px;

}

.javascript-div-2 p i {
    margin-left: 30px;
}

/* footer section  */
.footer-section {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}

.footer-section div a {
    text-decoration: none;
    color: black;
}



.footer-section div .Social i {
    margin-left: 30px;
}

.footer-section div .Social {
    display: flex;
}

.footer-end {

    text-align: center;
    margin-top: 10px;
}


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^career file ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
.build-career .col-lg-12 h2 {
    text-align: center;
}

.hiring-div {
    display: flex;
    justify-content: space-between;
}

.hiring-section {
    background: url("/assets/images/Rectangle\ 532\ \(1\).png");
    background-size: cover;

    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

.hiring-section .container {
    text-align: center;
}

.hiring-section .hiring .hiring-div-1 {
    display: flex;
}

.hiring-div-1 div {
    background-color: white;
    display: flex;

}

.hiring .hiring-div-1 p {
    margin-bottom: 0;
    /* margin-top: 25px; */
    margin-right: 20px;
}

.hiring .hiring-div-1 img {
    width: 100px;
    height: 80px;
    margin-top: 10px;
}

.hiring-div-1 div {
    border-radius: 24px;
    height: 90px;
    margin-left: 20px;
}

.hiring-div-1 .div-2 p {
    margin-top: 25px;
}

.hiring-div-1 .div-3 p {
    margin-top: 15px;
    font-size: 14px;

}

.hiring-div-1 .div-4 p {
    margin-top: 14px;
}

.hiring-div-1 .div-5 p {
    margin-top: 14px;
}

/* join us  */
.join-section {
    background: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
}

.join-div-1 {
    border-right: 1px solid grey;
}

.message-button {
    text-align: center;
    background-color: white;
    margin-bottom: 20px;
}

.join-div-1 img {
    width: 70%;
    /* height: 300px; */
}



@media screen and (max-width: 990px) {


    .hiring-div {
        flex-direction: column;
        /* justify-content: center; */

    }

    .hiring-section .hiring .hiring-div-1 {
        justify-content: center;

    }

    .hiring-div-1 div {
        width: 200px;
        margin-top: 20px;
    }

    .hiring-div-1 .div-2 p {
        margin-top: 14px;
    }

    .card-1 .card {
        margin-top: 20px;
        /* margin-left: 1px; */
        margin-left: 0px;

    }
}

@media screen and (max-width: 540px) {


    .join-div-1 img {
        width: 300px;
        height: 200px;
    }

}

/* partnership-section  */
.our-1 h1 {
    width: fit-content;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 15px;
}

.our-1 {
    line-height: 1.8rem;
}

.our-1 h1 span {
    color: blue;
}

.partnership-section .partnership-1 div {
    margin-left: 30px;
    background: #FBFBFB;
    margin-top: 30px;
}

.partnership-1 {
    display: flex;
}

.partnership-1 div {
    border-radius: 11px;
    padding: 10px;
}

.partnership-div-2 img {
    width: 90%;
}

.last-div-1 {
    width: 300px;
}

.Institute-1 h2 {
    font-size: 2.2rem;
}

.Institute-1 p {
    font-size: 1.5rem;
}

.Institute-1 {
    background-color: blue;
    color: white;

}

.Institute-1 h2 {
    margin-top: 5rem;
}

.Institute-1 p {
    margin-top: 20px;
}

.Institute-2 {
    background: #E9F0F4;

}

.company-div div .image-1 {
    margin-left: 9px;
}

.Institute-2 div .image-1 {
    margin-left: 9px;
}

.abroad-div-1 h1 {
    width: fit-content;
}

.company-div {
    background: #E9F0F4;

}

.usa-div {
    background-color: #000;
    color: white;
}

.usa-div h2 {
    margin-top: 5rem;
}

.usa-div p {
    margin-top: 20px;
}


@media screen and (max-width:992px) {
    .partnership-1 {
        display: block;
    }



    .partnership-section .partnership-1 div {
        margin-left: 0;
        background: #FBFBFB;
        margin-top: 30px;
    }

    .last-div-1 {
        width: 100%;
    }

    .our-2 img {
        width: 300px;
    }

    .step-1,
    .step-2,
    .step-3,
    .step-4,
    .step-5 {
        position: relative;

    }

    .step-1 .img-1,
    .step-2 .img-1,
    .step-3 .img-1,
    .step-4 .img-1,
    .step-5 .img-1 {
        position: absolute;
        rotate: 90deg;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 1%);
        margin-top: 43px;
        /* margin-bottom: 30px; */
    }

    .step-1 .img-2,
    .step-2 .img-2,
    .step-3 .img-2,
    .step-4 .img-2,
    .step-5 .img-2 {
        margin-top: 20px;
    }
}

.step-1 .p-1 {
    color: #4DB2B6;

}

.step-2 .p-1 {
    color: #FA444F;

}

.step-3 .p-1 {
    color: #F2A31B;

}

.step-4 .p-1 {
    color: #2D5CCE;

}

.step-5 .p-1 {
    color: #7743A6;

}

.box {
    border-radius: 10px;
    height: 100%;
    margin-left: 40px;
    width: 34%;
    height: 194px;

}


/* contact us section  css */
.contact-us-main h2 {
    font-size: 2.3rem;
}

.contact-us-main p {
    font-size: 1.4rem;
    max-width: 600px;
}

.contact-us-section {
    border-top: 1px solid grey;
    margin-top: 12rem;
}



.contact-us-social div {
    background-color: #F1F1F3;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.contact-us-social div i {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}

.contact-us-social div span i {
    margin-left: 10px;
}

@media screen and (max-width:768px) {
    .footer-section div h3 {
        margin-left: 0;
    }

    .footer-section ul li {
        margin-left: 1px;
    }

    .footer-section div .Social i {
        margin-left: 10px;
        margin-bottom: 10px;
    }
}



/* about us css  */


.about-div-1 button {
    text-decoration: none;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* .Achievement-section  */

.Achievement-section {
    background: url("/assets/images/Rectangle\ 532\ \(1\).png");
    margin-top: 80px;

}

.main-cards {
    display: flex;

}

.Achievement-section .container {
    text-align: center;
}

.main-cards-div-1 {
    display: flex;
    width: 20%;
    height: 110px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;

}

.main-cards-div-1 div {
    /* margin-right: 20px; */
    margin-left: -25px;
    margin-top: 10px;
}

.main-cards-div-1 div strong {
    font-size: larger;
}

.main-cards-div-1 div p {
    width: 140px;
    margin-top: 7px;
}

.main-cards-div-1 img {
    margin-top: 0;
    width: 150px;
    height: 150px;
}



.main-cards-div-1 {
    display: flex;
    width: 30%;
    height: 110px;
    background-color: white;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius: 10px;
    text-align: center;

}



@media screen and (max-width:969px) {

    .main-cards {
        display: block;
    }

    .main-cards-div-1 {
        width: 100%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }

}

@media screen and (max-width:1200px) {

    .main-cards {
        display: block;
    }
}


/* <!-- abroad addmission section css  -->  */

@media screen and (max-width: 460px) {
    .abroad-div-1 h1 {
        font-size: 20px;
    }

    .visa-div-1 button {
        font-size: 8px;
    }

    .visa-div-1 h2 {
        font-size: 17px;
        font-weight: 600;
    }

    .first-collapse h3 {
        font-size: 20px;
    }


}

.abroad-div-1 h1 {
    border: 1px solid grey;
    width: fit-content;
    padding: 10px;
    background-color: white;
}

.abroad-div-1 h1 span {
    color: blue;
}



.abroad-div-2 img {
    width: 100%;
}

/* visa section css  */


.visa-section {
    background-image: url(/assets/images/global\ infotech\ image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.visa-div-1 .circles div {
    /* background-color: purple; */
    border-radius: 50%;
    width: fit-content;
    margin-left: 30px;
    margin-top: 30px;
    padding: 20px;
    background: linear-gradient(0deg, #B5BEFF -0.08%, #A0A4FF 18.94%, #9394FF 35.95%, #8F8FFF 48.96%, #8A8AFF 61.97%, #7C7CFF 75.98%, #6666FF 91.99%, #5757FF 100%);
    /* background: linear-gradient(90deg, #FFECDE 20%, #F7E0CE 38%, #F3D9C4 58%, #F2D7C1 84%); */

}

.visa-div-1 {
    display: flex;
}

.visa-div-1 button {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border: none;
}


/* <!-- abroad addmission section css end -->  */


/* english speaking css   */
.english-div-2 button {
    text-decoration: none;
    padding: 10px;
    background-color: white;
}

/* english speaking css end  */


/* study and job section css  */
.job-section {
    background: #F8F8F8;

}

.job-div-1 img {
    width: 100%;
}



.job-div-2 button {
    text-decoration: none;
    padding: 10px;
    background-color: white;
}

/* study and job section css end  */







.query-1 {
    display: flex;
    margin-bottom: 20px;
    color: white;
    padding: 11px;
    border-radius: 66px;
    position: relative;
background: #000;
}

.query-div-2 h6 {
    margin-top: 20px;
}

.query-div-1 {
    border-radius: 50%;
    position: relative;
    height: 96px;
    background-color: bisque;
    padding: 10px;
}

.query-div-1 img {
    width: 64px;
}

.query-div-2 {
    margin-left: 20px;
}
.visa-div-2{
    position: relative;
}


@media screen and (max-width: 474px) {

    .query-1 {
        display: block;
        border-radius: 21px;
    }

    .query-div-1 {
        margin: auto;
        height: 96px;
        width: 89px;


    }

    .visa-div-1 .circles div {
        padding: 10px;
    }

    .process-div p {
        width: 200px;
    }
}

/* try  */




.query-1::before{
    content: "";
    background-color: blue;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -30px;
    top: 50%;
    border-radius: 50%;
}
.query-1::after{
    content: "";
    background-color: black;
    width: 30px;
    height: 2px;
    position: absolute;
    left: -60px;
    top: 53%;
}

.visa-div-2::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 2px;
    margin-top: 60px;
    left: -50px;
    height: 84%;
}
.process-div button{
    position: relative;
}
.process-div button::before{
  
    position: absolute;
    content: "";
    border-radius: 50%;
    background-color: blue;
    left: 279px;
    width: 10px;
    top: 16px;
    height: 10px;
}
.process-div button::after{
    position: absolute;
    content: "";
    background-color: black;
    width: 106px;
    top: 20px;
    left: 285px;
    height: 2px;
}
